<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBProjectConnectionLib.Properties.Settings.ProjectDBConnectionString"
            connectionString="Server=localhost;DataBase=ProjectsDB;Trusted_Connection=True;" />
    </connectionStrings>
</configuration>